@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@page
@{
    ViewData["Title"] = "NotFound";
}

<h2>Your Restaurant was Not Found</h2>
<a asp-page="./List" class="btn btn-primary">See All Restaurants</a>
